@inherits LayoutComponentBase
@layout AccountLayout

<div>
    <h2>Manage your account</h2>
    <hr />
    <div class="row">
        <div class="col-md-2">
            <ManageNavMenu />
        </div>
        <div class="col-md-10">
            @Body
        </div>
    </div>
</div>
