<PageTitle>Password Reset</PageTitle>

<p>Dear @Context.FirstName,</p>
<p>You have requested to reset your password</p>
<p>To get started, please click on the link below:</p>
<p><a href="@Context.ResetLink" class="button">Reset</a></p>
<p>If you have any questions, feel free to reach out to our support team.</p>
<p>Best regards,<br>WHOLESALE</p>


@code {
    [Parameter]
    public PasswordResetModel Context { get; set; }


    public class PasswordResetModel
    {
        public string FirstName { get; set; }
        public string ResetLink { get; set; }
    }
}
